# Auto detect text files and perform LF normalization
* text=auto

# [2019-10-29] (a11y) schedule note: Refactor Cypress support utils for a11y

# [2019-10-29] (API) schedule note: Add Cypress API test coverage

# [2020-01-29] (a11y) schedule note: Add Cypress a11y test coverage

# [2020-03-11] (UI) schedule note: Improve CI stability for UI suite
