# Auto detect text files and perform LF normalization
* text=auto

# [2019-10-29] (a11y) schedule note: Refactor Cypress support utils for a11y

# [2019-10-29] (API) schedule note: Add Cypress API test coverage
