registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NPM_TOKEN}

# [2019-10-30] (Perf) schedule note: Add Cypress Perf test coverage

# [2019-11-04] (UI) schedule note: Refactor Cypress support utils for UI

# [2020-01-31] (a11y) schedule note: Improve CI stability for a11y suite
